
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_SUPABASE_URL=https://mfmdvfgtwgxuhqaarfsb.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1mbWR2Zmd0d2d4dWhxYWFyZnNiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc2NjcwNzQsImV4cCI6MjEwMzI0MzA3NH0.VJ22sts1KPoILs2TFwPZnknC8R5KHTBb_00ektv6SOQ


